@page
@model GroceryListUI.Pages.Account.LoginModel
@{
}

<!--
<form method="post">*/

    <div id="accountTitle" class="AddProductBg align-content-center mb-3 " style="background-color:lightcoral; align-content:center; text-align:center; font-weight:500; font-size:35px; ">Login</div>

    <div class="AddProductBg row mb-3 align-content-center" style="background-color:lightcoral">
        <div class="col-sm-6">

            <label for="inputEmail" asp-for="LoginInfo.Email" class=" col-sm-6 col-form-label"> Email </label>

        </div>

        <div class="col-sm-6">
            <input type="text" class="form-control" asp-for="LoginInfo.Email" id="inputProductName" />
            <span></span>

        </div>

    </div>

    <div class="AddProductBg row mb-3" style="background-color:lightcoral">
        <div class="col-sm-6">


            <label for="inputProductName" class=" col-sm-6 col-form-label"> Password:</label>

        </div>

        <div class="col-sm-6 align-content-center ">

            <input type="text" class="form-control" id="inputProductName" />
            <span></span>

        </div>

        <div class=" flex-fill  " style="align-content:center; flex:auto;">

            <button type="submit" class="btn-primary align-content-center ">Login</button>

        </div>
    </div>


</form>-->
<!--replace this code-->
<div class="container border p-3">
    <form method="post">
        <div class="row mb-3">
            <div class="col-sm-2">
                <label asp-for="LoginInfo.Email" class="form-label"></label>
            </div>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="LoginInfo.Email" />
                <span class="text-danger" asp-validation-for="LoginInfo.Email"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-2">
                <label asp-for="LoginInfo.Password" class="form-label"></label>
            </div>
            <div class="col-sm-10">
                <input type="password" class="form-control" asp-for="LoginInfo.Password" />
                <span class="text-danger" asp-validation-for="LoginInfo.Password"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>"
        </div>
    </form>
</div>