@page
@model GroceryListUI.Pages.Products.TotalPageModel
@{
}
Needa make this page later lmao xD 
<div class="col-sm-3">
    <img src="https://static.tvtropes.org/pmwiki/pub/images/detectivecromwell.png" style="width:100%;max-width:10000px" /> <!-- image goes here-->
</div>