@page
@model GroceryListUI.Pages.Product.AddProduct
@{
}

<form action="post">
    <div class ="row mb-3">
        <label for="inputProductName" class = "col-sm-2 col-form-label">Product Name:</label>
        <div  class="col-sm-10 ">
            <input type="text" class="form-control" id="inputProductName" asp-for="NewProduct.ProductName"/>
        </div>
    </div> 


    <div class ="row mb-3">
        <label for="inputProductImage" class = "col-sm-2 col-form-label">Author Image:</label>
        <div  class="col-sm-10 ">
            <input type="text" class="form-control" id="inputAuthorImage" asp-for="NewProduct.ImageURL"/>
        </div>
    </div>

   <div class ="row mb-3">
        <label for="inputNutritoinLabel" class = "col-sm-2 col-form-label">Nutritoin Label:</label>
        <div  class="col-sm-10 ">
            <input type="text" class="form-control" id="inputNutritoinLabel" asp-for="NewProduct.NutritoinLabel"/>
        </div>
   </div>

        <div class ="row mb-3">
        <label for="inputDescription" class = "col-sm-2 col-form-label">Description:</label>
        <div  class="col-sm-10 ">
            <input type="text" class="form-control" id="inputDescription" asp-for = " NewProduct.Description " />
        </div>
   </div>

   <div class ="row mb-3">
        <label for="inputPrice" class = "col-sm-2 col-form-label">Price:</label>
        <div  class="col-sm-10 ">
            <input type="text" class="form-control" id="inputPrice" asp-for="NewProduct.Price"/>
        </div>
   </div>

   <div class ="row mb-3">
        <label for="inputIngredients" class = "col-sm-2 col-form-label">Ingredients:</label>
        <div  class="col-sm-10 ">
            <input type="text" class="form-control" id="inputIngredients" asp-for="NewProduct.Ingredients"/>
        </div>
   </div>
   <div class ="row mb-3">
        <label for="inputQuantity" class = "col-sm-2 col-form-label">Quantity:</label>
        <div  class="col-sm-10 ">
            <input type="text" class="form-control" id="inputQuantity" asp-for="NewProduct.Quantity"/>
        </div>
   </div>





    <div>
    <button type="submit" class="btn btn-secondary">Add Author</button>
    </div>
 


</form>
